# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel SmartPack

# Balance (default profile)
on property:persist.spectrum.profile=0
    write /sys/devices/system/cpu/sched_mc_power_savings 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2265600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2265600
    write /sys/module/lazyplug/parameters/nr_run_profile_sel 0
    write /sys/kernel/cpu_input_boost/ib_duration_ms 750
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
    write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
    write /proc/sys/vm/dirty_background_ratio 70
    write /proc/sys/vm/dirty_expire_centisecs 250
    write /proc/sys/vm/dirty_ratio 90
    write /proc/sys/vm/dirty_writeback_centisecs 500
    write /proc/sys/vm/min_free_kbytes 4096
    write /proc/sys/vm/swappiness 130
    write /proc/sys/vm/vfs_cache_pressure 10
    write /proc/sys/vm/drop_caches 3

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1
    write /sys/devices/system/cpu/sched_mc_power_savings 0
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2457600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2457600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2457600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2457600
    write /sys/module/lazyplug/parameters/nr_run_profile_sel 1
    write /sys/kernel/cpu_input_boost/ib_duration_ms 1400
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/module/adreno_idler/parameters/adreno_idler_active 0
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
    write /sys/kernel/dyn_fsync/Dyn_fsync_active 0
    write /proc/sys/vm/dirty_background_ratio 5
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_ratio 20
    write /proc/sys/vm/dirty_writeback_centisecs 1500
    write /proc/sys/vm/min_free_kbytes 12288
    write /proc/sys/vm/swappiness 0
    write /proc/sys/vm/vfs_cache_pressure 100
    write /proc/sys/vm/drop_caches 0

# Battery
on property:persist.spectrum.profile=2
    write /sys/devices/system/cpu/sched_mc_power_savings 2
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1497600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1497600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 729600
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 729600
    write /sys/module/lazyplug/parameters/nr_run_profile_sel 6
    write /sys/kernel/cpu_input_boost/ib_duration_ms 150
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 3
    write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
    write /proc/sys/vm/dirty_background_ratio 10
    write /proc/sys/vm/dirty_expire_centisecs 500
    write /proc/sys/vm/dirty_ratio 10
    write /proc/sys/vm/dirty_writeback_centisecs 100
    write /proc/sys/vm/min_free_kbytes 8192
    write /proc/sys/vm/swappiness 150
    write /proc/sys/vm/vfs_cache_pressure 500
    write /proc/sys/vm/drop_caches 0
